body{
    background-color: rgb(215, 215, 215);
    font-family:Arial, Helvetica, sans-serif    ;
    margin:0;
}
p {
    color: rgb(0, 0, 0)
}

h1, h2, h3, h4, h5, h6, header a{
    font-family:"Amatic SC", sans-serif;
}
.cart-link{
    color: black;
    text-decoration: none;
}

h1{
    text-align: center;
}

header{
    background-color: #AAEEEE;
}

main{
   
    font-family: "Spectral", serif;
}

h4{
    color: black;
}


/* header a{
    color: #ffffff;
    padding: 5px 15px;
    background:#CCAAEE ;
    text-decoration: none;
    border: 5px solid rgb(255, 255, 255);
    margin-right: 10px;
} */

.cart-btn{
    font-size: 1.12rem;
    position: relative;
}
.counter{
    position: absolute ;
    font-size: 0.8rem;
    top: -7px;
    right: -4px;
    background: blue;
    color: #fff;
    border-radius: 50%;
    padding: 0 5px;
}
.menu{
    text-align: center;
    
}

#carouselExample{
    width: 100%;
    
}
.carousel-inner{
    max-height: 400px;
    overflow: hidden;
}

.card    img{
    height: 300px;
    object-fit: contain;
    /* min-height: ; */
}

.card-title{
    max-height: 25px;
    overflow: hidden;
    text-overflow:ellipsis;
    transition: max-height 0.3s linear;
}

.card:hover .card-title{
    max-height: 125px;
    transition: max-height 0.2s linear;
}

.card{
    transition: max-height 0.3s linear   ;
}

.modal-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


footer {
    background-color: #514e4e;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 150px;
}
.footer-logo p {
    margin-top: 10px;
}
.footer-nav ul, .footer-social ul {
    list-style: none;
    padding: 0;
}
.footer-nav a, .footer-social a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}
.footer-nav a:hover, .footer-social a:hover {
    text-decoration: underline;
}
.footer-bottom {
    text-align: center;
    margin-top: 20px;
}
.footer-bottom p {
    margin: 5px 0;
}
.footer-bottom a {
    color: white;
    text-decoration: none;
}
.footer-bottom a:hover {
    text-decoration: underline;
}