body{
    background-color: rgb(215, 215, 215);
    font-family:Arial, Helvetica, sans-serif    ;
    margin:0;
}
p {
    color: rgb(0, 0, 0)
}

h1, h2, h3, h4, h5, h6, header a{
    font-family:"Amatic SC", sans-serif;
}
 
h1{
    text-align: center;
}

header{
    background-color: #AAEEEE;
}

main{
   
    font-family: "Spectral", serif;
}

/* header a{
    color: #ffffff;
    padding: 5px 15px;
    background:#CCAAEE ;
    text-decoration: none;
    border: 5px solid rgb(255, 255, 255);
    margin-right: 10px;
} */

.cart-btn{
        font-size: 1.12rem;
}

.menu{
    text-align: center;
    
}



footer{
    font-size: 15px;
}

#carouselExample{
    width: 100%;
    
}
.carousel-inner{
    max-height: 400px;
    overflow: hidden;
}

.card    img{
    height: 300px;
    object-fit: contain;
    /* min-height: ; */
}

.card-title{
    max-height: 25px;
    overflow: hidden;
    text-overflow:ellipsis;
    transition: max-height 0.3s linear;
}

.card:hover .card-title{
    max-height: 125px;
    transition: max-height 0.2s linear;
}

.card{
    transition: max-height 0.3s linear   ;
}
