<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Міні-Епіцентр</title>

    <style>
        body{
            background-color: rgb(215, 215, 215);
            font-family:Arial, Helvetica, sans-serif;
            margin:0;
        }
        p {
            color: rgb(0, 0, 0)
        }
        h1{
            background-color: rgb(209, 209, 255);
            text-align: center;
        }

        fff
    </style>
</head>

<body>
    <header>
        <h1>Онлайн-магазин Епіцентр</h1>
    </header>

    <main>
        <section>
            <h2>Каталог</h2>
            <br><a href="https://epicentrk.ua/ua/shop/bytovaya-tekhnika/" target="_blank">Побутова техніка</a></br>
            <a href="https://epicentrk.ua/ua/shop/elektronika/" target="_blank">Електроніка</a>
            <br><a href="https://epicentrk.ua/ua/shop/kantstovary/" target="_blank">Канцтовари</a></br>
        </section>

        <p>Про нас. Ми це мережа будівельно-господарських гіпермаркетів в Україні. Основна спеціалізація компанії — роздрібна торгівля будівельними матеріалами, товарами для оздоблення будинку, меблями, побутовою хімією, автотоварами, товарами для саду та городу, дитячими товарами тощо.</p>
        <a href="https://epicentrk.ua/" target="_blank">Не офіційний сайт епіцентру</a>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Epicentrk.svg/1200px-Epicentrk.svg.png"
            alt="Логотип епіцентру" width="200">
    </main>
    <footer>
        <p>Номер зв'язку з власником +380974562850</p>
        <p>Made in China</p>
    </footer>
</body>

</html>
