{% extends 'base.html' %}

{% block content %}
    <section class="container">
        <h1 class="my-5">{{product[1]}}</h1>

        <div class="row">
            <div class="col-12 col-md-6 py-3">
                <img class="img-fluid " src="{{ url_for('static', filename='products_img/'+ product[5] )}}">
            </div>

            <div class="col-12 col-md-6 py-3">
                <h2>{{product[1]}}</h2>
                <h3><span class="badge text-bg-info">{{product[7]}}</span></h3>
                <h2>{{product[2]}} грн</h2>
                <p>{{product[3]}}</p>
                
                <a href="{{ url_for('addtocart', product_id=product[0]) }}" class="btn btn-primary"><i class="bi bi-cart-check-fill me-1"></i>Купити</a>
            </div>

        </div>
    </section>
{% endblock  %}