{% extends 'base.html' %}
{% block content  %}
<h1 class="pt-5">Мої замовлення</h1>
<div class="container py-5">
    
    <div class="accordion" id="accordionExample">
            {% for order_id in orders %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{order_id}}" aria-expanded="true" aria-controls="collapseOne">
                   <h3>замовлення №{{order_id}}</h3> 
                  </button>
                </h2>
                <div id="collapse{{order_id}}" class="accordion-collapse  collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                          <h5>Дані доставки:</h5>
                          <p> Адреса:
                              {{ orders[order_id].city}}
                              {{orders[order_id].address}}
                          </p>
                          <p>Служба доставки:{{orders[order_id].post_service}}</p>
                          <p>Тип доставки:{{orders[order_id].delivery_type}}</p>
                          {% for product in orders[order_id].products_in %}
        <div class="cart-product row my-2" >

           <div class="col-2 text-center">
            <img class="img-fluid " style="max-height:100px" src="{{ url_for('static', filename='products_img/'+ product[5] )}}">
           </div>

          <div class="col-6">
            <a class="cart-link" href="{{ url_for('product_page',product_id=product[0] )}}"><h2>{{product[1]}}</h2></a>
          </div>

           <div class="col-1">
            {{product[6]}} шт 
          </div>
           <div class="col-2">
            {{product[2]}} грн
            </div>
        </div>
        {% endfor %}
                          <h4>Загально:{{orders[order_id].total}}грн</h4>
                      </div>
                  </div>
            </div> 
            {% endfor %}

</div>

{% endblock  %}